<html>
    <head>
        <style type="text/css">
         header{
             background-color: aquamarine;
         }
         body {
                
                padding-left:10px;
                padding-right: 10px;
                padding-top: 10px;
                
                }
            center{
                    padding-top: 200px;
                }
        </style >
        <title>Docker</title>
    </head>
    <header>
        <h1>Docker</h1>
    </header>
    <body >
        <center>
           
           <br>
           <i>
               Docker es una herramienta que brinda de forma estandarizada para poder ejecutar codigo, pues hace uso de contenedores que trabajan de forma similar a una maquina virtual, docker se instalada para poder crear, iniciar o detener contenedores.
           </i>
            <br>
            <strong>(AWS, s.f.)</strong>
        </center>
    </body>
</html>