<html>
    <head>
        <style type="text/css">
        .navbar-nav.navbar-center {
                position: absolute;
                font-size: 40px;
                left: 50%;
                transform: translatex(-50%);
            }
            /*
            header {
           background-color: red;
           height:60px;
         }*/
         .navbar-collapse {
             background-color:#58ED9B;
             text-decoration-color: black;
         }
         h1 {
            text-shadow: white;
            text-align: center;
            font-family:sans-serif;
         }
         header{
             background-color: aquamarine;
         }
         body {
                
                padding-left:10px;
                padding-right: 10px;
                padding-top: 10px;
                
                }
            center{
                    padding-top: 200px;
                }
        header{
             background-color: aquamarine;
         }
         body {
                
                padding-left:10px;
                padding-right: 10px;
                padding-top: 10px;
                
                }
            center{
                    padding-top: 200px;
                }
                
        </style >
     
        <title>Ubuntu</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <header><h1>Ubuntu</h1></header>
    <body >
        <center>
           <i>
            Con Ubuntu puedes tener una gran variedad de funcionalidades. Esta distribución es potente y versátil. La puedes instalar y ejecutar en cada dispositivo, ya sea una computadora de escritorio o un ordenador portátil. Ubuntu también es muy utilizado en servidores pues ayuda a facilitar el trabajo a la hora de gestionar el alojamiento de un sitio web en un servidor. Lo más probable es que, si estás leyendo esto, estés considerando instalar Ubuntu en tu computadora. O, entonces, deseas aprender más sobre el manejo de servidores.
           </i>
           <br>
           <i>
               Ubuntu es una distribución de Linux, que ofrece un sistema operativo donde esta enfocado a ordenadores, tambien proporciona soporte para servidores, pues es basado en Debian GNU/Linux.
           </i>
           <br>
           <strong>(Phoexnet, 2011, 25 abril)</strong>
        </center>
    </body>
</html>